<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>this is bootstap exe </title>
    <h1><%= title %></h1>
    <link rel='stylesheet' href='css/bootstrap.min.css' />
    <link rel='stylesheet' href='stylesheets/styles.css' />
  </head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 col-sm-6">About</div>
      <div class="col-md-4 col-sm-6">blog</div>
      <div class="col-md-4 col-sm-6">help</div>
    </div>


  </div>
</body>
</html>
